<?xml version="1.0" encoding="UTF-8"?><suite configfailurepolicy="continue" name="Suite" parallel="none"><test name="Test" preserve-order="true"><classes><class name="commonMethods.Testcases"/></classes><methods><include name="productSearch" priority="1"/><include name="productSelect" priority="2"/><include name="productShopping" priority="3"/><include name="productCart" priority="4"/><include name="Login" priority="5"/><include name="productDeliver" priority="6"/><include name="productRemove" priority="7"/><include name="Logout" priority="8"/></methods></test><listeners><listener class-name="atu.testng.reports.listeners.ATUReportsListener"/><listener class-name="atu.testng.reports.listeners.ConfigurationListener"/><listener class-name="atu.testng.reports.listeners.MethodListener"/></listeners></suite>